{% extends "network/layout.html" %}
{% load static %}

{% block body %}

<!-- All post scroll view. User sees all post and can post -->
    <section class='allposts--view'>
        {% if user.is_authenticated%}
        {% include 'network/post-form.html'%}
        {% else %}
        <div class="signin__banner">
            <p>Sing in to share your thoughts with the world</p>
        </div>
        {% endif%}

        <h2>What's happening today</h2>

        {% include 'network/postsdisplay.html'%}

    </section>

    <!-- Post detail. User sees post more closely -->
    <section class='seepost--view hide-post-view'>

        <h1>Says:</h1>

    </section>
{% endblock %}


{% block script%}
    {% include 'network/posts-scripts.html'%}
{% endblock %}

