.onepost{
    width: 100%;
    min-width: 320px;
    max-width: 450px;
}

.post__info{
    padding: 0px;
    li{
        display: inline-block;
        list-style: none;
    }
}
.post__buttons{
    display: flex;
    justify-content: space-between;
    .like__section{
        display: inline-flex;
        align-items: center;
    }
}


// EDIT POST SECTION
.editpost{
    width: 100%;
    min-width: 320px;
    max-width: 450px;

    .horizontal-list{
        display: flex;
        justify-content: flex-end;
        input{
            margin-left: 10px;
        }
    }
}
.editpost__form{
    margin-top: 10px;
}

.editpost__form--textarea{
    width: 100%;
    height: 60px;
    resize: none;
}

.showsection{
    display: block;
}

.hidesection{
    display: none;
}