.basic__button{
    background-color: white;
    padding: 1px 10px;
    width: auto;


    &:hover{
        background-color: $blue;
    }
    &:active{
        transform: scale(0.97);
    }
}


.btn-red{
    &:hover{
        background-color: red;
    }
}


    
.close-editor{
    cursor: pointer;
    color: black
}