.navigation{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $blue;

    a{
        color: white;
        padding: 0 10px;
    }

    ul{
        padding: 0px;
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        li{
            height: 80px;
            padding: 0 50px;
            list-style: none;
            display: flex;
            align-items: center;
            font-size: 20px;

        }
        li:hover{
            background-color: black;
        }
    }
}

.app__name{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 8px;
    a{
        font-size: 20px;
    }

    &:hover{
        background-color: black;
    }
}